.Xizmatlar{
    padding: 100px 0;
    width: 100%;
    min-height: 500px;
    display: block;
    
    &__title{
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(40, 80, 125);
    }
    &__box{
        display: flex;
        justify-content: center;

       
    }
    .box{
      margin-top: 20px;
      padding: 20px;
        &__card{
            &:hover{
                opacity: 0.7;
            }
    
            text-decoration: none;
            color:rgb(255, 255, 255);
            font-size: 20px;
            padding: 20px;
            border-radius:5px ;
            width: 320px;
            background-color: #829ef8;
            margin:0 5%;
            margin-top: 40px;
            &__img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin: 20px;
                // border: 1px solid;
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .Xizmatlar{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .box{
            display: flex;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}