.Projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding: 80px 0;
    &__title{
        width: 100%;
        
    }
    &__card{
        background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeXpJnghF73hXPUc40SrODbeBoz0qEZOmh3w&usqp=CAU");
        background-repeat: no-repeat;
        background-position:center;
        background-size:95% 95%;
        box-shadow: rgba(0, 0, 0, 0.205) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.334) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.323) 0px 0px 0px 1px inset;
        width:350px;
        min-height: 341px;
        padding: 20px;
        margin:20px;
    
        &__link{

            
            margin-top: 10px;
            font-size: 18px;
            color: rgb(218, 197, 14);
        }
        &__text{
            margin-top: 50px;
            font-size: 19px;
            font-weight: 500;
            color:whitesmoke;
        }
    }
}


@media only screen and (max-width: 500px) {
    .Projects{
        justify-content: center;
    }
}